.card {
	position: relative;
	margin-top: 5rem;
	height: 50rem;

	&__side {
		height: 52rem;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;

		&--front {
			background-color: $color-white;
		}

		&--back {
		}
	}

	&__heading {
		position: absolute;
		top: 12rem;
		right: 2rem;
		text-align: right;
		text-transform: uppercase;
		color: $color-white;
		font-size: 2.5rem;
		font-weight: 400;
		width: 71%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-secondary-light, 0.85),
				rgba($color-secondary-dark, 0.85)
			);
		}
		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-primary-light, 0.85),
				rgba($color-primary-dark, 0.85)
			);
		}
		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba($color-tertiary-light, 0.85),
				rgba($color-tertiary-dark, 0.85)
			);
		}
	}

	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			text-transform: uppercase;
			width: 80%;
			padding-left: 0%;
			margin: 0 auto;
			li {
				text-align: center;
				font-size: 1.3rem;
				padding: 1rem;
				color: $color-gray-dark;

				&:not(:last-child) {
					border-bottom: 1px solid $color-gray-light-2;
				}
			}
		}
	}

	&__picture {
		background-size: cover;
		height: 20rem;
		background-blend-mode: screen;
		clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);

		&--1 {
			background-image: linear-gradient(
					to bottom right,
					$color-secondary-light,
					$color-secondary-dark
				),
				url(../../Assets/img/nat-5.jpg);
		}
		&--2 {
			background-image: linear-gradient(
					to bottom right,
					$color-primary-light,
					$color-primary-dark
				),
				url(../../Assets/img/nat-6.jpg);
		}
		&--3 {
			background-image: linear-gradient(
					to bottom right,
					$color-tertiary-light,
					$color-tertiary-dark
				),
				url(../../Assets/img/nat-7.jpg);
		}
	}
}
