.card {
	position: relative;
	margin-top: 5rem;
	height: 50rem;

	&__side {
		height: 52rem;
		border-radius: 3px;

		&--front {
			background-color: red;
		}

		&--back {
		}
	}

	&__heading {
	}

	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			text-transform: uppercase;
			width: 80%;
			padding-left: 0%;
			margin: 0 auto;
			li {
				text-align: center;
			}
		}
	}

	&__picture {
		background-size: cover;
		height: 20rem;
		background-blend-mode: screen;
		clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);

		&--1 {
			background-image: linear-gradient(
					to bottom right,
					$color-secondary-light,
					$color-secondary-dark
				),
				url(../../Assets/img/nat-5.jpg);
		}
		&--2 {
			background-image: linear-gradient(
					to bottom right,
					$color-primary-light,
					$color-primary-dark
				),
				url(../../Assets/img/nat-6.jpg);
		}
		&--3 {
			background-image: linear-gradient(
					to bottom right,
					$color-tertiary-light,
					$color-tertiary-dark
				),
				url(../../Assets/img/nat-7.jpg);
		}
	}
}
