.feature-box {
	background-color: red;
	padding: 2.5rem;
	font-size: 1.6rem;
	box-sizing: 3px;
	border-radius: 3px;
	text-align: center;

	&__icon {
		padding: 0.5rem;
		font-size: 5.7rem;
		display: inline-block;
		color: white;
	}

	&:hover {
	}
}
